.forminput {
  width: 65%;
  height: 10%;
  margin-bottom: 3%;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
}
.cursortest {
  cursor: pointer;
}
.label {
  white-space: nowrap; /* Ensure the label doesn't wrap */
}

.smallPlaceholder::placeholder {
  font-size: 0.7rem;
}

.cancel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: x-small;
  margin: 1%;
  color: blue;

  background: #ededf0;
  border-radius: 10px;
}
