@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.approve {
  @apply !text-approve hover:!bg-approve-hover-bg;
}

.decline {
  @apply !text-decline hover:!bg-decline-hover-bg;
}

.suspend {
  @apply bg-suspend text-suspend-text;
}

.delete {
  @apply bg-delete text-delete-text;
}

progress {
  border-radius: 7px;
  height: 5px;
}
progress::-webkit-progress-bar {
  background-color: theme(colors.gray.shade-1);
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: theme(colors.blue.DEFAULT);
  border-radius: 7px;
}
progress::-moz-progress-bar {
  background-color: theme(colors.gray.shade-2);
  border-radius: 7px;
}
progress::-moz-progress-value {
  background-color: theme(colors.blue.DEFAULT);
  border-radius: 7px;
}

body {
  @apply font-poppins;
}

.img-container img {
  width: 100%;
  margin-bottom: 1rem;
}

.scrollbar-custom::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* Customize the color */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #edf2f7; /* Customize the track color */
}

.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #514b82;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 70deg,
      #0000 71deg 90deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l5 1s infinite;
}
@keyframes l5 {
  to {
    transform: rotate(0.5turn);
  }
}
