.img {
    width: 100%;
    height: 100%; /* Adjust as needed based on your logo size and margin */
    margin: 0 20px; /* Adjust margin as needed */
  }

  /* .promotionImg img{
    width: 100%;
    height: 100%;
  } */
  
  .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    content: '';
    position: absolute;
    top: 0;
    width: 250px; /* Adjust based on your design */
    height: 100%;
    z-index: 2;
  }
  
  /* .logos:hover .logos-slide {
    animation-play-state: paused;
  }
   */
  .logos-slide {
    display: flex;
    animation: 700s slide infinite linear;
  }

  .rounded-tl-br {
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem; 
}
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .img {
    width: 40px;
    height: 40px;
  }
  .imgabout{
    object-fit: contain;
  /* Ensure the image maintains its aspect ratio */
  max-width: 100%;
  max-height: 100%;
  display: block;
  }
  
  
  /* Medium screens (e.g., tablets) */
  @media (max-width: 768px) {
    .img {
      width: 30px;
      height: 30px;
    }
  }
  
  /* Small screens (e.g., phones) */
  @media (max-width: 480px) {
    .img {
      width: 3rem;
      height: 3rem;
    }
  }

  @media (max-width: 480px) {
    .img2 {
      width: 8rem;
      height: 8rem;
    }
  }